@model IEnumerable<WebApplication15.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.No_Transaction }) |
            @Html.ActionLink("Details", "Details", new { id=item.No_Transaction }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.No_Transaction })
        </td>
    </tr>
}

</table>
